{% extends "base.html.twig" %}
{% block body %}
	{% if user.login != NULL %}

		<div class="container">
			<h2 class="">Acceuil</h2>
			<p class="textCorp">Bonjour, et bien venu sur le site de Nesti Corp. Cette entreprise est issue d'une formation de reconversion... Vous trouverez des recettes qui emoustillerons vos papilles...</p>
		</div>
	
		<div class="container">
        <h2 class="">
    Historique des recettes</h2>
			<p class="historique">
				<ul class="list-group">
					{% for i in 0..4 %}
						<li class="list-group-item">{{cart.prixProduit}}</li>

					{% endfor %}
				</ul>
			</p>
		</div>
	{% endif %}
{% endblock %}
