{% extends "base.html.twig" %}
{% block body %}


	<div class="container">
		<h2 >Accueil</h2>
		<div class="textCorp">
			<div class="media">
				<div class="media-left mr-4">
					<a href="#">
						<img src="{{base_url("../img/Accueil1.jpg")}}" class=" intro" alt="Image accueil">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Message de bienvenu</h4>
					<p> Bonjour, et bienvenue sur le site de Nesti Corp. Cette entreprise est issue d'une formation de reconversion... Vous trouverez des recettes qui emoustillerons vos papilles...
					</p>
				</div>
			</div>
		</div>
	</div>

	
{% endblock %}
