{% extends "base.html.twig" %}
{% block body %}

	<div class="container-fluid">

		<div class="row">
			<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-5 pt-3 pb-3 bg-white from-wrapper">
				<div class="container">
					<h2>Connexion</h2>
						{% if loginBlocked == true %}
						<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div class="alert alert-danger text-center" role="alert">
								Utilisateur Bloquer
							</div>
						</div>
					</div>
					{% endif %}
						{% if loginError == true %}
						<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div class="alert alert-warning text-center" role="alert">
								Utilisateur non reconnue (Login ou Mot de passe)
							</div>
						</div>
					</div>
					{% endif %}
						
					<hr>
					{{ form_open (base_url('/login'))}}
					<div class="form-group">
						<label for="login">Pseudo</label>
						<input type="input" class="form-control" name="login" id="login" value="">
					</div>
					<div class="form-group">
						<label for="password">Mot de passe</label>
						<input type="password" class="form-control" name="password" id="password" value="">
					</div>

					<div class="row">
						<div class="col-12 col-sm-4">
							<button type="submit" class="btn btn-info">Connexion</button>
						</div>

						{{ validation.errors ? validation.errors.name}}
						{{ form_close }}
						<div class="col-12 col-sm-8 text-right">
							<a href="{{base_url('/register')}}">Vous n'avez pas de compte utilisateur?</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
