{% extends 'layout/base.html.twig' %}

{% block body %}

	<div class="container mt-5 text-center">
		<h1>Résultat de recherche du tag</h1>
		<form method="POST" action="">
			<input name='name' value='{{tag.name}}' type="text">
			<button value="ok" type="submit">ok</button>
		</form>
	</div>

{% endblock %}
