{% extends "base.html.twig" %}
{% block body %}



<div id="background">
			<div class="container-fluid pt-5 d-flex justify-content-center">
<ul>
			<a class="btn btn-success" href='/'>Retour à l'accueil</a>
			<a class="btn btn-success" href='tags'>Lire Tous Les Tags</a>
			<a class="btn btn-success" href='tags/create'>Créer Un Tag</a>
			<a class="btn btn-success" href='tags/search'>Rechercher Un Tag</a>
		</ul>
	</div>


{% endblock %}
